* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --sunny: linear-gradient(190deg, rgb(247, 255, 142), rgb(88, 158, 228));
  --cloudy: linear-gradient(
    180deg,
    rgb(148, 148, 148),
    rgba(175, 206, 239, 0.715)
  );
  --rainy: linear-gradient(180deg, rgb(144, 144, 144), rgb(208, 208, 208));
  --clear: linear-gradient(180deg, rgb(254, 255, 247), rgb(135, 173, 208));
}

#content {
  display: grid;
  grid-template-rows: 120px 5fr;
  height: 100vh;
  width: 100vw;
}

#input {
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr min-content;
  align-items: center;
  gap: 1rem;
  background-color: rgb(57, 174, 169);
}

#logo {
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
  padding-left: 2rem;
  text-align: center;
}

#p2 {
  color: rgb(23, 36, 41);
}

#search {
  grid-column: 3 / 4;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  padding-right: 2rem;
}

#search input {
  border: none;
  background-color: white;
  height: 2.5rem;
  border-radius: 5px 0 0 5px;
  width: 500px;
  padding-left: 0.5rem;
  font-size: 1.1rem;
}

#search button {
  height: 2.5rem;
  background-color: rgb(23, 36, 41);
  border: none;
  padding: 0 0.5rem;
  color: rgb(246, 247, 247);
  border-radius: 0 5px 5px 0;
  font-size: 1.1rem;
}

#search button:hover {
  cursor: pointer;
  background-color: rgb(15, 24, 27);
}

#search div {
  display: flex;
  flex-direction: row;
  gap: none;
}

#degree-div {
  display: flex;
  justify-content: end;
  padding-right: 2rem;
}

#degree {
  background-color: white;
  height: 2.5rem;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0 0.5rem;
  justify-content: center;
  align-items: center;
  color: rgb(23, 36, 41);
  font-weight: 400;
}

#degree:hover {
  cursor: pointer;
}

#f {
  font-weight: 800;
}

#weather {
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
  background-image: var(--sunny);
}

#weather-panel {
  display: grid;
  grid-template-rows: 50px 100px 150px;
  padding: 15vh;
  padding-left: 25vw;
  height: 100%;
}

#condition-div {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}

#name-div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}

#img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img {
  object-fit: cover;
  border-radius: 10px;
}

#temp-info {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

#temp-div {
  display: flex;
  justify-content: start;
  align-items: center;
}

#temp {
  font-size: 7.5rem;
  font-weight: 700;
}

#other-info {
  border-left: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 7.5rem;
  padding: 1rem;
  gap: 1.5rem;
  color: white;
}

#uv-div {
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

#feels-like-div {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

#humidity-div {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.p2 {
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  #content {
    grid-template-rows: 150px 5fr;
  }

  #input {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 0;
  }

  #logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding-left: 0;
    justify-content: center;
  }

  #search {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  #degree-div {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding-right: 0;
    justify-content: end;
    position: absolute;
    top: 92.5px;
    right: 20px;
  }
}

@media only screen and (max-width: 775px) {
  #content {
    grid-template-rows: 200px 5fr;
  }
  #input {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    gap: 0;
  }

  #degree-div {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    padding-right: 0;
    justify-content: center;
    position: static;
  }
}
